<?xml version="1.0"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite verbose="1" name="Suite pruebas de regresión">
    <test name="Casos de prueba">
    <classes>
        <class name="tests.Tests">
            <methods>
                <include name="CP00registrook"/>
                <include name="CP01RegistroNOOK"/>
                <include name="CP02LoginOK"/>
                <include name="CP03LoginUserInvalido"/>
                <include name="CP004VoteCommunityPollSinLoggear"/>
                <include name="CP05AgregarProducto"/>
                <include name="CP06LoginPassInvalido"/>
                <include name="CP07SubNewsletter"/>
            </methods>
        </class>
    </classes>
    </test>
</suite>